@import '../utils/variables.scss';
.page-header {
  border-bottom: 1px solid #ececec;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  display: block;

  color: $logo-color;

  font-family: $logo-font;
  font-weight: $logo-weight;
  font-size: 26px;
  line-height: 1.2;
}

.header-logo {
  margin-right: 93px;
}

.logo__acсent {
  color: $acent-color;
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
}

.nav__item:not(:nth-last-child(1)) {
  margin-right: 50px;
}

%hover-link {
  color: $acent-color;
  fill: $acent-color;
}

.nav__link {
  position: relative;

  padding: 32px 0;

  color: $title-color;

  font-weight: $capture-weight;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color $hover-time $hover-function;
  &:hover,
  &:focus {
    @extend %hover-link;
  }
}

/* Почёркивание активной страницы в навигации */
.active {
  color: $acent-color;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $acent-color;
  }
}
/* Контакты шапки */

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts__link {
  color: $text-color;

  font-weight: $capture-weight;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color $hover-time $hover-function;
  &:hover,
  &:focus {
    @extend %hover-link;
  }
}

.contacts__item:not(:nth-last-child(1)) {
  margin-right: 30px;
}

.contacts__icon {
  margin-right: 10px;
  vertical-align: top;

  fill: currentColor;

  transition: fill $hover-time $hover-function;
}
