@import '../utils/variables.scss';
.quality {
    padding: 94px 0;
}

.quality__list {
    display: flex;
}

.quality__item {
    width: calc((100% - 90px) / 4);
    &:not(:nth-last-child(1)) {
        margin-right: 30px;
    }
}



.quality__img-container {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $bkg-color;
}

.quality__item-title {
    margin: 30px 0 0 0;

    color: $title-color;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
}

.quality__item-description {
    margin: 10px 0 0 0;

    text-align: left;
    line-height: 1.7;
}