// Палитра цветов
$title-color: #212121;
$text-color: #757575;
$acent-color: #2196F3;
$button-hover-color: #188CE8;
$logo-color: #000000;
$alternative-color: #ffffff;
$bkg-color: #F5F4FA;
$ico-color: #AFB1B8;
$footer-color: #2F303A;

$hover-time: 250ms;
$hover-function: cubic-bezier(0.4, 0, 0.2, 1);



$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

$hero-weight: 900;
$logo-weight: 700;
$capture-weight:500;
$btn-weight: 700;
$sub-title_weight: 700;
$text-weight: 400;
